*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    
}
body{
    background-color: rgb(66, 51, 51);
}
.class{
   
    display: flex;
    background-color: rgb(199, 90, 90);
    padding: 10PX;
    width: 500px;
    color:whitesmoke;
    cursor: pointer;
  
}
.tab{
    margin-left: 60px;
}
.tab:hover{
    background-color: rgb(27, 51, 95);
    
}
.container{
    display: flex;
    width: 500px;
    display: none;
    
}
.para{
    background-color: rgb(224, 149, 174);
    color: rgb(15, 15, 15);
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
    
}
.para2{
    background-color: rgb(224, 149, 174);
    color: rgb(15, 15, 15);
    padding: 30px;
     
}